nav {
  height: 100px;
  width: 100%;
  background: grey;
  padding: 30px;
  display: block;
}


nav .select {
    width: 300px;
    margin-right: 30px;;
}
nav .button {
  width: 200px;
}



.post-list {
  max-width: 50%;
  max-height: 100vh;
  overflow-y: scroll;
}

.post-info {
  padding: 30px;
  margin: 0 auto;

}
.mt-1 {
  margin-top: 10px;
}

.post-chart {
  margin-top: 30px;
  text-align: center;
}

.ct-chart {
  height: 500px;
}